# Ignorar la carpeta .vs generada por Visual Studio
.vs/

/.vs/SistemaFacturacion/FileContentIndex/

# Ignorar SistemaFacturacion_Utilidad Debug/net8.0/
/SistemaFacturacion_Utilidad/obj/
/SistemaFacturacion_Utilidad/bin/

# Ignorar SistemaFacturacion_WebAssembly Debug/net8.0/
/SistemaFacturacion_WebAssembly/obj/
/SistemaFacturacion_WebAssembly/bin/

/SistemaFacturacion_WebAssembly/wwwroot/css/

# Ignorar SistemaFacturacion_API Debug/net8.0/
/SistemaFacturacion_API/obj/
/SistemaFacturacion_API/bin/

# Ignorar SistemaFacturacion_Model Debug/net8.0/
/SistemaFacturacion_Model/obj/
/SistemaFacturacion_Model/bin/
