# Ignorar la carpeta .vs generada por Visual Studio
.vs/
/SistemaFacturacion_API/bin/Debug/net8.0/SistemaFacturacion_API.dll
/SistemaFacturacion_API/bin/Debug/net8.0/SistemaFacturacion_API.exe
/SistemaFacturacion_API/bin/Debug/net8.0/SistemaFacturacion_Utilidad.pdb
/SistemaFacturacion_API/bin/Debug/net8.0/SistemaFacturacion_Utilidad.dll
/SistemaFacturacion_API/bin/Debug/net8.0/SistemaFacturacion_Model.pdb
/SistemaFacturacion_API/bin/Debug/net8.0/SistemaFacturacion_Model.dll
/SistemaFacturacion_API/bin/Debug/net8.0/SistemaFacturacion_API.pdb
/SistemaFacturacion_API/obj/Debug/net8.0/EndpointInfo/SistemaFacturacion_API.json
/SistemaFacturacion_API/obj/Debug/net8.0/ref/SistemaFacturacion_API.dll
/SistemaFacturacion_API/obj/Debug/net8.0/refint/SistemaFacturacion_API.dll
/SistemaFacturacion_API/obj/Debug/net8.0/SistemaFacturacion_API.sourcelink.json
/SistemaFacturacion_API/obj/Debug/net8.0/SistemaFacturacion_API.pdb
/SistemaFacturacion_API/obj/Debug/net8.0/SistemaFacturacion_API.csproj.FileListAbsolute.txt
/SistemaFacturacion_API/obj/Debug/net8.0/SistemaFacturacion_API.csproj.AssemblyReference.cache
/SistemaFacturacion_API/obj/Debug/net8.0/apphost.exe
/SistemaFacturacion_API/obj/Debug/net8.0/SistemaFacturacion_API.AssemblyInfo.cs
/SistemaFacturacion_API/obj/Debug/net8.0/SistemaFacturacion_API.AssemblyInfoInputs.cache
/SistemaFacturacion_API/obj/Debug/net8.0/SistemaFacturacion_API.csproj.CoreCompileInputs.cache
/.vs/SistemaFacturacion/FileContentIndex/61f942e2-7758-4b90-bfe6-42345a17ab50.vsidx
/.vs/SistemaFacturacion/FileContentIndex/7596b6b9-6e02-47bf-bf22-037d10fdabf2.vsidx
/.vs/SistemaFacturacion/FileContentIndex/dbec20fb-f7f8-4533-acac-f88295b814a5.vsidx
/SistemaFacturacion_Model/bin/Debug/net8.0/SistemaFacturacion_Model.dll
/SistemaFacturacion_Model/bin/Debug/net8.0/SistemaFacturacion_Model.pdb
/SistemaFacturacion_Model/obj/Debug/net8.0/ref/SistemaFacturacion_Model.dll
/SistemaFacturacion_Model/obj/Debug/net8.0/refint/SistemaFacturacion_Model.dll
/SistemaFacturacion_Model/obj/Debug/net8.0/SistemaFacturacion_Model.sourcelink.json
/SistemaFacturacion_Model/obj/Debug/net8.0/SistemaFacturacion_Model.pdb
/SistemaFacturacion_Model/obj/Debug/net8.0/SistemaFacturacion_Model.AssemblyInfo.cs
/SistemaFacturacion_Model/obj/Debug/net8.0/SistemaFacturacion_Model.AssemblyInfoInputs.cache
/SistemaFacturacion_Model/obj/Debug/net8.0/SistemaFacturacion_Model.dll
/SistemaFacturacion_Utilidad/bin/Debug/net8.0/SistemaFacturacion_Utilidad.dll
/SistemaFacturacion_Utilidad/bin/Debug/net8.0/SistemaFacturacion_Utilidad.pdb
/SistemaFacturacion_Utilidad/obj/Debug/net8.0/ref/SistemaFacturacion_Utilidad.dll
/SistemaFacturacion_Utilidad/obj/Debug/net8.0/refint/SistemaFacturacion_Utilidad.dll
/SistemaFacturacion_Utilidad/obj/Debug/net8.0/SistemaFacturacion_Utilidad.sourcelink.json
/SistemaFacturacion_Utilidad/obj/Debug/net8.0/SistemaFacturacion_Utilidad.pdb
/SistemaFacturacion_Utilidad/obj/Debug/net8.0/SistemaFacturacion_Utilidad.AssemblyInfo.cs
/SistemaFacturacion_Utilidad/obj/Debug/net8.0/SistemaFacturacion_Utilidad.AssemblyInfoInputs.cache
/SistemaFacturacion_Utilidad/obj/Debug/net8.0/SistemaFacturacion_Utilidad.csproj.CoreCompileInputs.cache
/SistemaFacturacion_Utilidad/obj/Debug/net8.0/SistemaFacturacion_Utilidad.dll
/SistemaFacturacion_WebAssembly/obj/Debug/net8.0/
/SistemaFacturacion_WebAssembly/bin/Debug/net8.0/
/SistemaFacturacion_WebAssembly/wwwroot/css/
/SistemaFacturacion_API/obj/Debug/net8.0/
