################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SistemaFacturacion
/SistemaFacturacion_API
/SistemaFacturacion_Model
/SistemaFacturacion_WebAssembly
