@model SistemaFacturacion_Web.Models.ViewModel.ProductoCreateViewModel
@{
    ViewData["Title"] = "CrearProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" asp-action="CrearProducto">
    <div class="container border p-3">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="row">
            <h2 class="text-info">Crear Nuevo Producto</h2>
        </div>

        <!--Columna de Código de Barras-->
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Código de Barras</label>
                <input type="text" asp-for="Producto.Codigobarra" class="form-control" />
                <span asp-validation-for="Producto.Codigobarra" class="text-danger"></span>
            </div>
        </div>

        <!--Columna Descripcion-->
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Descripcion</label>
                <input asp-for="Producto.Descripcion" class="form-control" />
                <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>
            </div>
        </div>

        <!--Columna Precio-->
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Precio Venta</label>
                <input asp-for="Producto.Precio" class="form-control" />
                <span asp-validation-for="Producto.Precio" class="text-danger"></span>
            </div>
        </div>


        <!--Columna Precio Compra-->
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Precio Compra</label>
                <input asp-for="Producto.PrecioCompra" class="form-control" />
                <span asp-validation-for="Producto.PrecioCompra" class="text-danger"></span>
            </div>
        </div>

        <!--Columna Lista de Marcas-->
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Marca</label>
                <select asp-for="Producto.MarcaId" class="form-select" id="cboMarcas" asp-items="@Model.MarcaLista">
                    <option value="">--Seleccione una Marca--</option>
                </select>
            </div>
        </div>


        <!--Columna de fecha de Vencimiento-->
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Fecha de Vencimiento</label>
                <input type="date" asp-for="Producto.Fechavencimiento" class="form-control" />
                <span asp-validation-for="Producto.Fechavencimiento" class="text-danger"></span>
            </div>
        </div>

        <!--Columna Lista de Impuestos-->
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Tipo de IVA</label>
                <select asp-for="Producto.TipoimpuestoId" class="form-select" id="cboImpuestos" asp-items="@Model.TipoImpuestoLista">
                    <option value="">--Seleccione el impuesto--</option>
                </select>
            </div>
        </div>


        <!--Columna Estado-->
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Estado</label>
                <select asp-for="Producto.Estado" class="form-select" id="cboImpuestos">
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
                </select>
                <span asp-validation-for="Producto.Estado" class="text-danger"></span>
            </div>
        </div>


        <!--Columna Observación-->
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Observación</label>
                <input type="text" asp-for="Producto.Observacion" class="form-control" />
                <span asp-validation-for="Producto.Observacion" class="text-danger"></span>
            </div>
        </div>


        <div class="d-grid gap-2 d-md-block mt-2">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-controller="Producto" asp-action="IndexProducto" class="btn btn-success">Regresar</a>
        </div>
    </div>
</form>


@section Scripts
{    <partial name="_ValidationScriptsPartial" />
        
    <script>
        $(document).ready(function()
        {
            obtenerListas()
        })

        function obtenerListas()
        {
            $('#cboMarcas').select2({placeholder:"Seleccionar",width:'100%'});
            $('#cboImpuestos').select2({ placeholder: "Seleccionar", width: '100%' });
        }
    </script> 
}
