@model SistemaFacturacion_Web.Models.DTO.MarcaCreateDTO
@{
    ViewData["Title"] = "CrearMarca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" asp-action="CrearMarca">
    <div class="container border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <h2 class="text-info">Crear Nueva Marca</h2>
            </div>

            <div class="row mt-2">
                <div class="col-md-6">
                    <label class="form-label">Descripcion</label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
            </div>

            <div class="d-grid gap-2 d-md-block mt-2">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a asp-controller="Marca" asp-action="IndexMarca" class="btn btn-success">Regresar</a>
            </div>        
    </div>
</form>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
